<div class="modalMenu">
  <button class='btn btn-lg btn-default' ui-sref="contents" ng-click="$dismiss()">Table of Contents</button>
  <button class='btn btn-lg btn-default' ui-sref="step-one" ng-click="$dismiss()">Step 1: Primitive Data Types and Variables</button><br>
  <button class='btn btn-lg btn-default' ui-sref="step-two" ng-click="$dismiss()">Step 2: All About Functions</button><br>
  <button class='btn btn-lg btn-default' ui-sref='step-three' ng-click="$dismiss()">Step 3: Conditionals</button><br>
  <button class='btn btn-lg btn-default' ui-sref="step-four" ng-click="$dismiss()">Step 4: Loops</button><br>
  <button class='btn btn-lg btn-default' ui-sref="step-five" ng-click="$dismiss()">Step 5: Arrays</button><br>
  <button class='btn btn-lg btn-default' ui-sref="step-six" ng-click="$dismiss()">Step 6: Objects</button><br>
</div>
