<div class="page-content text-center">
  <div class="content-numbers">
    <h2>Simply, arrays are a list of values, separated by commas, surrounded in square brackets. There's not a whole lot more to it
      than that. They are incredibly useful to know how to use and even more useful to know how to search and pinpoint, especially
      when it comes to JSON and things like that.
      The major topics we will hit on are:</h2><br>
    <ul class="text-center">
      <li>
        <h3>Overivew of an array</h3>
      </li>
      <li>
        <h3>Looping through arrays</h3>
      </li>
    </ul><br>


    <h1>Overview of an array</h1>
    <h2>Like we said before, an array is simply a list of values, separated by commas, and surrounded by square brackets. Your question
    should now be, though, how do I access a value in said array? AHA! Let's find out with the example below:</h2>
  </div><br>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row code-examples">
      <div class="col-md-8 col-md-offset-2">
        <div class="code-block">
        <code>
          //Empty arrays are useful for a place to put values. You can declare them empty with no issues.<br>
          var emptyArray = []; <br><br>
          //You don't have to declare an array any differently than anything other value on the left side.<br>
          var arrayWithValues = [1, 2, 3, 4];<br><br>
          //Arrays can have any type of value in it, even mixed values!<br>
          var mixedArray = [1, "2", 3, function four { console.log('4')}];<br><br>
          //We can access a value in the array by using: nameOfTheArray[index]<br><br>
          //REMEMBER!!! Arrays are zero-indexed, so if you want the first value in the array, use index zero!
          Let's use the arrayWithValues array to pull a couple values. <br>
          arrayWithValues[1]; //Will pull the second value, 2.
          arrayWithValues[2]; //Will pull the third value, 3.
        </code>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content text-center">
  <div class="content-numbers">
    <h2>Let's talk about how these can be useful by touching on how to loop through arrays with a for-loop.</h2>
  </div><br>
</div>

<br>
<div class="content-functions text-center">
  <h1>While Loop</h1>
  <h2>While loops are useful for situations that you're not 100% sure about how much stuff you're going to have to loop through</h2><br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row code-examples">
        <div class="col-md-8 col-md-offset-2">
          <div class="code-block text-left">
            <code>
              //Let's declare an array, so we have something to loop through: <br>
              var array = [1, "apple", 3, "business"]; <br><br>
              //Now, let's print out all of the values in the array. <br>
              for (var i = 0; i < array.length; i++){<br>
               console.log(array[i]);<br>
              }<br>
              //Will log: 1, apple, 3, and business;<br>
             </code>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <h1>Conclusion</h1>
  <h2>Arrays are absolutely fundamental to learning Javascript. Knowing how to search and manipulate arrays is one of the
  most useful skill you can learn, other than manipulating objects, which we're going to learn about next.</h2>
</div><br>
