<div class="page-content text-center">
  <div class="content-numbers">
    <h2>Loops are an enclosure that let you run the same block of code however may times you specify. There are a number of different
      loops you can use, depending on the situation, but we're going to stick to "for" loops and "while" loops for now, for brevity's
      sake.
      The major topics we will hit on are:</h2><br>
    <ul class="text-center">
      <li>
        <h3>For Loop</h3>
      </li>
      <li>
        <h3>While Loop</h3>
      </li>
    </ul><br>


    <h1>For Loop</h1>
    <h2>So, you questions should now be, what is a for-loop and what is it often used for? In my experience, a for loop is often used
    for iterating through an array and doing something with it the contents of said array. We will hit arrays next, though, so let's
    demonstrate the point of what it does and when you see arrays next, we will cover it there.</h2>
  </div><br>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row code-examples">
      <div class="col-md-4 col-md-offset-4">
        <div class="code-block">
        <code>
          for (var i = 1; i < 6; i++) { <br>
            console.log(i);<br>
          }<br>
          // Will log 1, 2, 3, 4, and 5 in sequenital order in the console.<br>
        </code>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content text-center">
  <div class="content-numbers">
    <h2>Not sure just what happened there? Let's walk through it. We stated that it was going to be a for loop first. After that,
    within the parentheses, we declared a variable called "i", set it to equal zero, then put a semi-colon. That variable declaration
    is telling the loop where to start. After the first semi-colon, we have "i < 6". We are saying do whatever is in the loop while "i"
    is still less than 6, as soon as it becomes 6, stop the loop. After the second semi-colon, you see "i++". That is shorthand for
    "i = i + 1". That last part says after every time the loop finished running, add 1 to i.</h2>
    <h2>Within the loop, all it says is to console.log the variable "i" every time it runs.</h2>
  </div><br>
</div>

<br>
<div class="content-functions text-center">
  <h1>While Loop</h1>
  <h2>While loops are useful for situations that you're not 100% sure about how much stuff you're going to have to loop through</h2><br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row code-examples">
        <div class="col-md-6 col-md-offset-3">
          <div class="code-block">
            <code> var i = 1;<br>
              while (i < 6) {<br>
               console.log(i);<br>
              }<br>
              //Will log 1, 2, 3, 4, 5, 6;<br>
             </code>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <h1>Conclusion</h1>
  <h2>Loops aren't a difficult feat to accomplish. They just take practice and experience to see why they are so useful.</h2>
</div><br>
