<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id='home-heading'>WalkthroughJS</h1>
      <h3> Have you ever been in front of a textbook, teacher, computer, or some combination of the three
      and just feel like you keep missing a step? So have I. Trying to learn Javascript without going at it
      at my pace was too difficult. I would always have to go back and break everything down, step by step, before
      I was able to understand it. I know I'm not the only one that has ever struggled like that, so I created WalkthroughJS. The goal of WalkthroughJS
      is to break down the concepts of Javascript into steps so you don't feel like you're constantly missing something.</h3>
      <h3>This project is in its infancy, at the moment, so the content is fairly limited, however, I am looking for people
      who want to contribute and make this into something bigger. This is an open-source project! Help others learn to code the
      way you wish you could have!</h3>
      <hr>
      <br>
      <h2>So, now that we're past all of the fluff, let's get down to the nitty-gritty. If you're here to learn, click the button below to go
      to the table of contents and get started!</h2>
      <br>
      <button type="button" class="btn btn-lg" ui-sref="contents" name="button">Click here!</button>
    </div>
  </div>
</div>
