<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id='home-heading'>Table of contents</h1>
      <hr>
      <ul id='contents'>
        <li>
          <a ui-sref="step-one"><h1>Step 1: Primitive Data Types and Variables</h1></a>
          <h3>Numbers/Strings/Booleans and how to store values</h3>
        </li>
        <li>
          <a ui-sref="step-two"><h1>Step 2: All About Functions</h1></a>
          <h3>How you get things done</h3>
        </li>
        <li>
          <a ui-sref="step-three"><h1>Step 3: Conditionals</h1></a>
          <h3>How to be picky with data</h3>
        </li>
        <li>
          <a ui-sref="step-four"><h1>Step 4: Loops</h1></a>
          <h3>How to do things more than once in the same place</h3>
        </li>
        <li>
          <a ui-sref="step-five"><h1>Step 5: Arrays</h1></a>
          <h3>How to store a group of values, separated by commas</h3>
        </li>
        <li>
          <a ui-sref="step-six"><h1>Step 6: Objects</h1></a>
          <h3>A lot of key/value pairs within curly brackets</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
